*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btnHighlight {
  background-color: #306cb9;
}
/* #cy {  
   from the demo   
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
} */

#cy {
  width: 100%;
  height: 82vh;
  /* position: relative; */
  border: 1px solid #949494;
  overflow: hidden;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
  font-weight: bold;
}

.popper-div {
  /* just an example */
  border: 1px solid red;
  background: #fff;
  z-index: 2;
  padding: 0.25em;
  pointer-events: none;
}

#buttons {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  margin: 1em;
}

.popper-handle {
  width: 20px;
  height: 20px;
  background: darkred;
  border-radius: 20px;
  z-index: 2;
}
